# 1b

## Load Dataset

In [59]:
import pandas as pd
import numpy as np
poi = pd.read_csv("Axiata Urbanlytics/poi.csv")
crm = pd.read_csv("Axiata Urbanlytics/crm.csv", sep="\t")
merc = pd.read_csv("Axiata Urbanlytics/Merchant_list.csv", sep="\t")
tran = pd.read_csv("Axiata Urbanlytics/transaction.csv", sep="\t")

ev = pd.read_csv("Axiata Urbanlytics/event_log.csv", sep="\t")

## Use indexing to subset those with F&B Mechant Category

In [60]:
fnb_gridid = merc[merc["MerchantCategory"] == "F&B"]["grid_id"].unique()

## Sort the values based on grid_id and save the result as template_1b_0.csv

In [62]:
df_1b = pd.DataFrame(fnb_gridid, columns= ["grid_id"]).sort_values("grid_id")
df_1b.to_csv("template_1b_0.csv", index=False)

In [63]:
df_1b

      grid_id
368  159117.0
371  159122.0
34   159817.0
239  159818.0
254  159820.0
..        ...
141  178077.0
316  178079.0
285  178772.0
379  178773.0
385  178778.0

[395 rows x 1 columns]